.mail-app {
    font-family: lato;
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.mail-layout{
    display: grid;
    grid-template-columns: [first] 20% [line2] 100%;
    height: 100%;
    
}
