.app-header{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.head-nav{
    justify-content: center;
    margin: auto 0;
    align-content: space-around;
}
.header-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}



