.side-bar {

    /* width: 20%; */
    height: 100%;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
}

.btn-compose{
    margin-top: 20px;
    font-family: fa;
    font-size: 1.5rem;
    border-radius: 80%;
    height: 70px;
    width: 135px;
}
.btn-compose:hover{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.btn-compose::before {
        content: '\f067'
}
.percentage-bar{
    position: relative;
    background-color: beige;
    width: 100px;
}
.read-percentage{
    background-color: greenyellow;
    height: 18.78px;
    position: absolute;
    top: 0;
}
.read-percentage-number{
    position: relative;
}

