.side-bar {

    /* width: 20%; */
    height: 100%;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
}

.compose-btn {
	background-color: #DB3A0D;
	height: 28px;
	display: block;
	width: 118px;
	text-align: center;
	line-height: 28px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Helvetica;
	font-weight: 700;
	font-size: 11px;
	border-radius: 3px;
	border: 1px solid #DB3A0D;
}

.compose-btn:hover {
	box-shadow: 0px 0px 4px #b1b1b1;
	background: linear-gradient(0deg, #CC360C, #DB3A0D);
	border: 1px solid #B3320E;
}

.compose-btn:active {
	box-shadow: 0px 0px 4px #b1b1b1 inset;
	background: linear-gradient(0deg, #CC360C, #DB3A0D);
	border: 1px solid #B3320E;
}
.percentage-bar{
    position: relative;
    background-color: beige;
    width: 100px;
}
.read-percentage{
    background-color: greenyellow;
    height: 18.78px;
    position: absolute;
    top: 0;
}
.read-percentage-number{
    position: relative;
}

