.side-bar {

    /* width: 20%; */
    height: 100%;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
}

.compose-btn {
    margin-top: 10px;
	background-color: #DB3A0D;
	height: 28px;
	display: block;
	width: 118px;
	text-align: center;
	line-height: 28px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Helvetica;
	font-weight: 700;
	font-size: 11px;
	border-radius: 3px;
	border: 1px solid #DB3A0D;
}

.compose-btn:hover {
	box-shadow: 0px 0px 4px #b1b1b1;
	background: linear-gradient(0deg, #CC360C, #DB3A0D);
	border: 1px solid #B3320E;
}

.compose-btn:active {
	box-shadow: 0px 0px 4px #b1b1b1 inset;
	background: linear-gradient(0deg, #CC360C, #DB3A0D);
	border: 1px solid #B3320E;
}
.percentage-bar{
    position: relative;
    background-color: beige;
    width: 100px;
}
.read-percentage{
    background-color: greenyellow;
    height: 18.78px;
    position: absolute;
    top: 0;

}
.read-percentage-number{
    position: relative;
}






.button-sidebar {
  align-items: center;
  background-color: rgb(218, 77, 77);
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
  margin-bottom: 10px;

}

.button-sidebar:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}