.note-filter img{
    object-fit: scale-down;
    max-width: 35px;
}
.note-filter button{
    padding: 7px;
    padding-bottom: 4px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s;
}
.note-filter button:hover{
    background-color: rgb(219, 219, 219);
}
.note-filter input{
    border: none;
    padding: 10px;
    font-size: 1.4em;
    border-radius: 10px;
}
.note-filter input:focus{
    outline-width: 0;
}
.note-filter{
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    gap: 15px;
    background-color: white;
    border-radius: 10px;
}