.keep-note-list ul{
    margin: 0 auto;
    max-width: 1300px;
    columns: auto;
    column-width: 300px;
}
.keep-note h4{
    text-align: center;
    margin-top: 0.5em;
}
.keep-note .text{
    text-align: center;
}

