.user-msg {
    font-family: lato;
    position: fixed;
    top: 55px;
    left: 0;
    padding: 1rem 1.5rem;
    background-color: white;
    border-radius: 1rem;
    z-index: 6;
}

.user-msg h4,
p {
    margin: 50px;
    padding: 40px;
}

.success {
    margin: 1px;
    border: 4px solid rgb(27, 180, 27);
}

.error {
    margin: 1px;
    border: 4px solid red;
}

/* .user-msg button {
        position: absolute;
        top: 2%;
        right: 2%;
} */