* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }