.main-app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app{
    height: 100%;
}
.main-layout{
    text-align: center;
    margin: 0 auto;
    max-width: 1400px;
}


